<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="icon" type="image/x-icon" href="~/Icons/D_logo_NoName.svg" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/MediaQuery.css">
    <link rel="stylesheet" href="~/Content/mystyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Scripts/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/Scripts/css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>


<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div>
                    <img src="~/Icons/D_logo_NoName.svg" alt="Logo" style="width: 40px;">
                </div>
                <div class="sidebar-brand-text mx-3">DigitalHub</div>
            </a>

            <hr class="sidebar-divider my-0">
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Trang Quản Lý
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <span class="material-icons">
                        home
                    </span>
                    <span>Quản Lý Tài Khoản</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="login.html">Khách Hàng</a>
                        <a class="collapse-item" href="register.html">Admin</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Categories/Index">
                    <span class="material-icons">
                        shopping_cart
                    </span>
                    <span>Mặt Hàng</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/Products/Index">
                    <span class="material-icons">
                        local_mall
                    </span>
                    <span>Sản phẩm</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/InvoiceManager/Orders">
                    <span class="material-icons">
                        receipt_long
                    </span>
                    <span>Quản lý đơn đặt hàng</span>
                </a>
            </li>
            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" id="searchInput" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2" onkeyup="performSearch()">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Kết quả tìm kiếm -->
                        <div id="searchResults" class="list-group position-absolute mt-2"></div>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <span class="badge badge-danger badge-counter"></span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Tin Nhắn
                                </h6>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Xem tất cả</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                             alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                             alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                             alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle"
                                     src="~/Icons/D_logo_NoName.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <!-- Đăng xuất -->
                                <a class="dropdown-item" href="@Url.Action("Logout", "Account")">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                @RenderBody()
            </div>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <!-- Đường dẫn đăng xuất cho Admin -->
                    <a class="btn btn-primary" href="/Account/Logout">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Scripts/js/sb-admin-2.min.js"></script>
    <script src="~/Scripts/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Scripts/js/demo/chart-area-demo.js"></script>
    <script src="~/Scripts/js/demo/chart-pie-demo.js"></script>

</body>
<script>
    function performSearch() {
        var keyword = document.getElementById("searchInput").value;

    // Nếu từ khóa rỗng, không cần thực hiện tìm kiếm
    if (keyword.length === 0) {
        document.getElementById("searchResults").innerHTML = "";
        return;
    }

    // AJAX gọi đến action SearchAll trong AdminController
    $.ajax({
        url: '@Url.Action("SearchAll", "Admin")',
        data: { keyword: keyword },
        type: 'GET',
        success: function (data) {
            // Xóa kết quả cũ
            document.getElementById("searchResults").innerHTML = "";

            // Xử lý kết quả tìm kiếm
            if (data.customers.length === 0 && data.products.length === 0 && data.orders.length === 0) {
                document.getElementById("searchResults").innerHTML = "<div class='list-group-item'>Không có kết quả nào</div>";
            } else {
                // Tìm khách hàng
                data.customers.forEach(function (customer) {
                    var item = `<a href="/Customers/Details/${customer.ID}" class="list-group-item list-group-item-action">
                                    Khách hàng: ${customer.NameCus}
                                </a>`;
                    document.getElementById("searchResults").innerHTML += item;
                });

                // Tìm sản phẩm
                data.products.forEach(function (product) {
                    var item = `<a href="/Products/Details/${product.ID}" class="list-group-item list-group-item-action">
                                    Sản phẩm: ${product.NamePro}
                                </a>`;
                    document.getElementById("searchResults").innerHTML += item;
                });

                // Tìm đơn hàng
                data.orders.forEach(function (order) {
                    var item = `<a href="/InvoiceManager/OrderDetails/${order.ID}" class="list-group-item list-group-item-action">
                                    Đơn hàng: #${order.ID} (Khách hàng: ${order.NameCus})
                                </a>`;
                    document.getElementById("searchResults").innerHTML += item;
                });
            }
        },
        error: function () {
            document.getElementById("searchResults").innerHTML = "<div class='list-group-item text-danger'>Lỗi khi tìm kiếm. Vui lòng thử lại.</div>";
        }
    });
    }
</script>

</html>