@model IEnumerable<DigitalHub.Models.Product>

@{
    ViewBag.Title = "Laptop";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

<!-- Banner Head -->
@Html.Partial("_BannerHead")

<div id="laptop-section">
    <div class="p-5">
        <h2 class="product-header">Laptop Bán Chạy</h2>


        <div class="row">
            @foreach (var item in Model)
            {
                <!-- Gọi _ProductCard Partial View -->
                @Html.Partial("_ProductCard", item)
            }
        </div>
    </div>
</div>
@Html.Partial("_News")

