@model IEnumerable<DigitalHub.Models.Product>

@{
    ViewBag.Title = "Tai Nghe";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

<div id="tai-nghe-section">
    <div class="p-5">
        <h2 class="mb-4">Tai nghe bán chạy</h2>

        <div class="row">
            @foreach (var product in Model)
            {
                <!-- Gọi _ProductCard Partial View -->
                @Html.Partial("_ProductCard", product)
            }
        </div>
    </div>
</div>
