/* Hiệu ứng viền di chuyển từ trái sang phải */
.navbar-nav .nav-item .nav-link {
    position: relative;
    padding: 10px 15px;
    color: #000;
    font-weight: 500;
    overflow: hidden;
    transition: color 0.3s ease;
}

    .navbar-nav .nav-item .nav-link::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #007bff;
        transition: width 0.3s ease;
    }

    .navbar-nav .nav-item .nav-link:hover::before {
        width: 100%;
    }

.nav-link {
    color: #333; /* Màu mặc định */
    transition: color 0.3s ease-in-out;
}

    .nav-link:hover {
        color: #ff9800; /* Màu khi hover */
    }

    .nav-link i {
        transition: transform 0.3s ease-in-out;
    }

    .nav-link:hover i {
        transform: scale(1.2); /* Tăng kích thước icon khi hover */
    }


.sticky-images-container {
    position: relative !important;
}

.sticky-image {
    margin-top: 44px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px; /* Khoảng cách từ đầu trang */
    width: 150px; /* Kích thước hình ảnh */
    height: auto;
    z-index: 10;
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s; /* Thêm hiệu ứng chuyển đổi */
}

.sticky-left {
    position: fixed;
    left: 0;
    margin-left: 47px; /* Khoảng cách từ biên trái */
}

.sticky-right {
    position: fixed;
    right: 0;
    margin-right: 47px; /* Khoảng cách từ biên phải */
    cursor: pointer;
}

    .sticky-image:hover {
        transform: scale(1.1); /* Tăng kích thước 10% khi hover */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Thêm đổ bóng khi hover */
        opacity: 0.9; /* Giảm độ trong suốt một chút */
    }





