/* Hiệu ứng viền di chuyển từ trái sang phải */
.navbar-nav .nav-item .nav-link {
    position: relative;
    padding: 10px 15px;
    color: #000;
    font-weight: 500;
    overflow: hidden;
    transition: color 0.3s ease;
}

    .navbar-nav .nav-item .nav-link::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #007bff;
        transition: width 0.3s ease;
    }

    .navbar-nav .nav-item .nav-link:hover::before {
        width: 100%;
    }

.nav-link {
    color: #333; /* Màu mặc định */
    transition: color 0.3s ease-in-out;
}

    .nav-link:hover {
        color: #ff9800; /* Màu khi hover */
    }

    .nav-link i {
        transition: transform 0.3s ease-in-out;
    }

    .nav-link:hover i {
        transform: scale(1.2); /* Tăng kích thước icon khi hover */
    }



