
/* Tablet (>= 990px và <= 1024px) */
@media (min-width: 720px) and (max-width: 1024px) {
    .navbar-nav {
        white-space: nowrap;
    }
}

@media (max-width: 720px) {
    #nav-expand {
        width: 100%;
    }
}

@media (max-width: 1200px) { /* Điều chỉnh kích thước nếu cần */
    #slider-section {
        display: none;
    }
}

