@model IEnumerable<DigitalHub.Models.Product>

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Lịch sử xem sản phẩm";
    string currentAction = ViewContext.RouteData.Values["action"].ToString();
}

<div class="container my-2">
    <div class="row">
        <!-- Cột bên trái: Menu -->
        <div class="col-md-3">
            @Html.Partial("_LeftSidebar")
        </div>

        <!-- Cột bên phải: Nội dung -->
        <div class="col-md-9">
            <h2 class="mb-2">Lịch sử xem sản phẩm</h2>
            <hr class="mt-0 mb-3" />
            @if (!Model.Any())
            {
                <p>Bạn chưa xem sản phẩm nào.</p>
            }
            else
            {
                <div class="row">
                    @foreach (var product in Model)
                    {
                        <!-- Gọi Partial View _ProductCard.cshtml cho mỗi sản phẩm -->
                        @Html.Partial("_ProductCard", product)
                    }
                </div> <!-- End row -->
            }
        </div>
    </div>
</div>
